<div>
    <div class="col-15 text-center text-dark">
        <h1>EDITAR PROPIETARIO</h1>
    </div>
</div>


<form [formGroup]="this.formUpdateP">
    <div class="row">
    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
    </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>Tipo de documento</mat-label>
            <select matNativeControl formControlName="tipoDoc">
                <option value="DNI">DNI</option>
                <option value="PASAPORTE">PASAPORTE</option>
               </select>
            <!-- <input matInput formControlName="tipo_Doc"> -->
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Numero Doc</mat-label>
            <input matInput formControlName="numDoc">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>email2</mat-label>
            <input matInput formControlName="email2">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Telefono2</mat-label>
            <input matInput formControlName="telefono2">
        </mat-form-field>
    </div>
    <div class="row">
        <span><button href="#crearModal3" role="button" class="btn btn-dark" (click)="actualizar()"data-toggle="modal" [disabled]="formUpdateP.invalid">Actualizar datos</button></span>
    </div>
    
  

  <div id="crearModal3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="navegar()">&times;</button>
            </div>
              <div class="modal-body">
               <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
               </svg>
               <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                  Los datos se actualizaron correctamente
                </div>
               </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="navegar()">Cerrar</button>
              </div>
        </div>
    </div>
  </div>

</form>


<app-navbar></app-navbar>
  <button button type="button" class="btn btn-secondary" routerLink="/listarPropietarios">Volver</button>