
<div class="container-fluid">
<html>
  <head>
 
  </head>
  <body><div class="area"></div><nav class="main-menu">
            
            <ul>

                <li>
                    <a (click)="navegar()">
                        <i class="icon ion-md-contact"></i>
                        <span class="nav-text">
                            Mi Usuario
                        </span>
                    </a>
                  
                </li>
                <li>
                    <a (click)="navegar1()">
                      <i class="icon ion-md-folder p-3"></i>
                        <span class="nav-text">
                            Administraciones
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a (click)="navegar2()">
                      <i class="icon ion-md-home p-3"></i>
                        <span class="nav-text">
                            Propiedades
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a (click)="navegar3()">
                       <i class="icon ion-md-people p-3"></i>
                        <span class="nav-text">
                            Inquilinos
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a (click)="navegar4()">
                      <i class="icon ion-md-person p-3"></i>
                        <span class="nav-text">
                            Propietarios
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a (click)="navegar5()">
                      <i class="icon ion-md-construct p-3"></i>
                        <span class="nav-text">
                            Mantenimiento
                        </span>
                    </a>
                </li>
                <li>
                    <a (click)="navegar6()">
                        <i class="icon ion-md-home"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
                </li>            
            </ul>
            <ul class="logout">
                <li>
                   <a (click)="logout()">
                    <i class="icon ion-md-exit"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
        <div>
          
        </div>
  </body>
    </html>
</div>