<div class="container">
    <span class="texto"><h1 class="texto">MANTENIMIENTO</h1></span>
    <div class="card bg-dark text-white">
        <img src="http://imgfz.com/i/N02Vr94.png" class="card-img" alt="...">
        <div class="card-img-overlay">
        </div>
      </div>
      
 
    <div>
        <div >
            
        </div>
    </div>
  
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><button class="btn btn-dark" (click)="navegar()">Barrios</button></td>
                        <td><button class="btn btn-dark" (click)="navegar1()">Servicios</button></td>
                     
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  
  
  <app-navbar></app-navbar>
  <button button type="button" class="btn btn-secondary" routerLink="/paginaInicio">Volver a Inicio</button>