<div class="container">
    <span class="texto"><h1 class="texto">PROPIETARIOS</h1></span>
  <div>
      <div >
        <div class="card bg-dark text-white">
            <img src="http://imgfz.com/i/N02Vr94.png" class="card-img" alt="...">
            <div class="card-img-overlay">
            </div>
          </div>
          
      </div>
  </div>

  <div>
      <div>
          <table>
              <thead>
                  <tr>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><button class="btn btn-dark" (click)="navegar()">Listar</button></td>
                      <td><button class="btn btn-dark" (click)="navegar1()"> + Agregar Nuevo Propietario</button></td>
                   
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>


<app-navbar></app-navbar>
<button button type="button" class="btn btn-secondary" routerLink="/paginaInicio">Volver a Inicio</button>



